<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>204545120301-jhhrrl4r6j5jabiejh5ueurv36aia28p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.204545120301-jhhrrl4r6j5jabiejh5ueurv36aia28p</string>
	<key>API_KEY</key>
	<string>AIzaSyD_n5_cYJLwdaoAFUNebiLe_596ZfoEWNc</string>
	<key>GCM_SENDER_ID</key>
	<string>204545120301</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.playground</string>
	<key>PROJECT_ID</key>
	<string>lukes-flutter-playground</string>
	<key>STORAGE_BUCKET</key>
	<string>lukes-flutter-playground.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:204545120301:ios:b2cf1534119db3a4fd80a4</string>
</dict>
</plist>